* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: "JetBrains Mono", monospace;
	text-align: center;
}

body {
	font-family: "Space Mono", monospace;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 14px;
	min-height: 100vh;
	background-color: bisque;
}

form {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

form textarea {
	resize: none;
	min-height: 150px;
	padding: 14px;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.recordBtn {
	padding: 4px;
	font-size: 100px;
	cursor: pointer;
	background-color: rgb(255, 245, 238); /* soft warm white, sits nicely on bisque */
	color: rgb(220, 38, 38); 
	border: none;
	outline: none;
	appearance: none;
	aspect-ratio: 1/1;
	border-radius: 50%;
	align-self: center;
}

.recordBtn:hover {
	background-color: rgb(220, 38, 38);
	color: rgb(255, 245, 238);
	transform: scale(1.05);
}